# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle/
android/local.properties
android/captures/
android/gradlew
android/gradlew.bat
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
*.ipa
*.dSYM.zip
*.dSYM

# macOS junk
.DS_Store
**/.DS_Store

# IDE
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android CMake / NDK build cache
android/app/.cxx/
android/app/src/main/jniLibs/
